@import url("https://fonts.googleapis.com/css?family=Biryani:200,300,400,600,700");

.container--title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 10px;
}

.title--section {
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin: 5px 0;
}

.container--sites {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.card {
  border-left: 0.2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  margin: 10px;
}

.card a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.title--card {
  margin-top: auto;
  line-height: 16px;
  margin: 10px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  background: rgba(242, 242, 242, 1);
  width: 100%;
  min-width: 100%;
}

@media (max-width: 424px) {
  .container--sites {
    grid-template-columns: 1fr;
  }
}

.container--contact {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}
